{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["README.md"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
